@{
    ViewData["Title"] = "Dashboard";
}
<h1>Hospital Management Dashboard</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card bg-info text-white mb-3">
            <div class="card-body">
                <h4>Patients</h4>
                <p>@ViewBag.PatientCount</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-success text-white mb-3">
            <div class="card-body">
                <h4>Doctors</h4>
                <p>@ViewBag.DoctorCount</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-warning text-dark mb-3">
            <div class="card-body">
                <h4>Departments</h4>
                <p>@ViewBag.DepartmentCount</p>
            </div>
        </div>
    </div>
</div>

